button {
    cursor: pointer;
}

.subscribe-button {
    background-color: #cc0000;
    color: white;
    border: none;
    border-radius: 2px;
    margin-right: 8px;
    transition: opacity 0.15s;
    padding: 10px 16px;
}

.subscribe-button:hover {
    opacity: 0.75;
}

.subscribe-button:active {
    opacity: 0.5;
}

.join-button {
    background-color: white;
    border-color: #065fd4;
    border-style: solid;
    border-width: 1px;
    color: #065fd4;
    border-radius: 2px;
    margin-right: 8px;
    transition: background-color .15s, color 0.15s;
    padding: 9px 16px;
    vertical-align: top;
}

.join-button:hover {
    background-color: rgb(115, 115, 223);
    color: white;
}

.join-button:active {
    opacity: 0.7;
}

.tweet-button {
    background-color: #1d9bf0;
    color: white;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    font-size: 15px;
    transition: box-shadow 0.15s;
    padding: 9px 16px;
    vertical-align: top;
}

.tweet-button:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

/* 2a. Uber */

.request-button {
    margin-top: 15px;
    background-color: black;
    color: white;
    border: none;
    height: 36px;
    width: 105px;
    margin-right: 8px;
    transition: opacity .15s;
}

.request-button:hover {
    opacity: .8;
}

/* 2b. Amazon */

.cart-button {
    background-color: rgb(255, 216, 20);
    color: black;
    border: none;
    height: 36px;
    width: 150px;
    border-radius: 18px;
    margin-right: 8px;
    transition: background-color 0.15s;
}

.cart-button:hover {
    background-color: rgb(0, 255, 0);
}

/* 2c. GitHub */

.sign-up-button {
    background-color: rgb(46, 164, 79);
    color: white;
    height: 36px;
    width: 80px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: box-shadow 0.15s;
}

.sign-up-button:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

/* 2d. Bootstrap */

.get-started-button, .download-button {
    margin-top: 15px;
    margin-right: 8px;
    height: 36px;
    width: 115px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    font-weight: bold;
}

.get-started-button {
    background-color: rgb(121, 82, 179);
    color: white;
    border: none;
    transition: background-color 0.15s;
}

.get-started-button:hover {
    background-color: rgb(104, 60, 168);
}

.download-button {
    background-color: white;
    color: rgb(108, 117, 125);
    transition: background-color 0.15s, color 0.15s, border 0.15s;
}

.download-button:hover {
    background-color: rgb(108, 117, 125);
    color: white;
    border: none;
}

/* 2e. LinkedIn */

.apply-button, .save-button {
    margin-top: 15px;
    margin-right: 8px;
    height: 36px;
    margin-bottom: 15px;
}

.apply-button {
    background-color: rgb(10, 102, 194);
    color: white;
    border: none;
    width: 210px;
    border-radius: 18px;
    font-weight: bold;
    transition: background-color 0.35s;
}

.apply-button:hover {
    background-color: rgb(1, 73, 146);
}

.save-button {
    background-color: white;
    color: rgb(10, 102, 194);
    border-color: rgb(10, 102, 194);
    border-style: solid;
    border-width: 1px;
    border-radius: 18px;
    width: 70px;
    font-weight: bold;
    transition: background-color 0.35s, border-width 0.35s;
}

.save-button:hover {
    background-color: rgb(235, 235, 235);
    border-width: 2px;
}

/* 2f. Continuing exercise from 1g */

a {
    color: rgb(0, 113, 133);
    transition: color 0.15s;
}

a:hover {
    color: red;
}

.cost-text {
    color: rgb(0, 118, 0);
    font-weight: bold;
}

.add-to-cart-button, .buy-now-button {
    height: 36px;
    width: 115px;
    border-radius: 18px;
}

.add-to-cart-button {
    background-color: rgb(255, 216, 20);
    border: none;
    margin-right: 8px;
    transition: background-color 0.15s, opacity .15s;
}

.add-to-cart-button:hover {
    background-color: rgb(230, 192, 6);
}

.add-to-cart-button:active {
    opacity: 0.5;
}

.buy-now-button {
    background-color: rgb(255, 164, 28);
    border: none;
    transition: background-color 0.15s, opacity 0.15s;
}

.buy-now-button:hover {
    background-color: rgb(240, 148, 11);
}

.buy-now-button:active {
    opacity: 0.5;
}

/* 4h. Pagination */

.back-button, .next-button {
    padding: 5px;
    margin: 15px 8px 0px 8px;  /* top right bottom left  */
}

.page-links {
    color: blue;
    margin: 4px 4px;
}

/* 4i. Stretch */

.stretch-button {
    margin-top: 15px;
    padding: 5px 10px;
    background-color: green;
    border: none;
    color: white;
    transition: padding 1s;
}

.stretch-button:hover {
    padding: 15px 30px;
}

/* 4j. 3D Click */

.shadow-button {
    margin-top: 15px;
    padding: 5px 10px;
    background-color: green;
    border: none;
    color: white;
    box-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.4);
    transition: margin-top 0.15s, margin-left 0.15s, box-shadow 0.15s;
}

.shadow-button:active {
    margin-top: 16.5px;
    margin-left: 2px;
    box-shadow: none;
}

/* 4k. Margin and padding together */

.one-button, .two-button, .three-button {
    padding: 5px 10px;
    margin: 15px 10px;  /* top&bottom left&right */
    background-color: green;
    border: none;
    color: white;
    transition: padding .25s, margin .25s;
}

.one-button:hover, .two-button:hover, .three-button:hover {
    padding: 5px 15px;
    margin: 15px 5px;
}