/* SUBSCRIBE button */

button {
    padding: 10px 16px;
    border: none;
    margin-right: 12px;
    border-radius: 2px;
}

button:hover {
    cursor: pointer;
}

.subscribe-button {
    background-color: #cc0000;
    color: white;
    transition: opacity 0.15s;
}

.subscribe-button:hover {
    opacity: 0.8;
}

/* JOIN button */

.join-button {
    background-color: white;
    color: #065fd4;
    border: 1px solid #065fd4;
    padding: 9px 16px;
    transition: background-color 0.15s, color 0.15s;
}

.join-button:hover {
    background-color: #065fd4;
    color: white;
    border: none;
    padding: 10px 17px;
}

/* Tweet button */

.tweet-button {
    font-size: 15px;
    font-weight: bold;
    background-color: #1d9bf0;
    color: white;
    border-radius: 18px;
    padding: 9px 15px;
    transition: background-color 0.15s;
}

.tweet-button:hover {
    background-color: #0282d8;
}